<!DOCTYPE html> 
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            TODO App
        {% endblock %}
    </title>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <script src="{% static "js/main.js" %}" defer></script> 

</head>
<body>
    <nav>
        <a href="/tasks">Tasks</a>

        {% if user.is_authenticated %}
            <form class="logout" action="{% url "users:logout" %}" method="post">
                {% csrf_token %}
                <button class="logout-button" aria-label="User Logout" title="User Logout">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a>
            <a href="{% url 'users:login' %}">Log In</a>
        {% endif %} 
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>